{% load static %}
<html>
<head>
<title>Forensic Evidence Management</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1>An Implementation of Blockchain Technology in
Forensic Evidence Management</h1>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul>
      <li><a href="{% url 'AddEvidence' %}">Add Evidences to Blockchain</a></li>
      <li><a href="{% url 'ViewEvidence' %}">Fetch Evidences from Blockchain</a></li>
       <li><a href="{% url 'index' %}">Logout</a></li>
   </ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.JPG' %}" width="870" height="230" alt="" />
	</div>
	<br/>
	 <center><font face="verdana" color="red">{{ data }}</font></center>
	 <br/>
	<p align="justify"><font size="3" color="black" style="font-family: Comic Sans MS">
	Abstract-Evidence management is crucial in the field of
forensic science. Evidences obtained from a crime scene
are important in solving the case and delivering justice
to the parties involved. Hence, protecting these evidences
from any form of alteration is of utmost important.
Chain of Custody is the process which maintains the
integrity of evidence. Inability to maintain the chain of
custody will make the evidence inadmissible in court,
eventually leading to the case dismissal. Digitalization of
forensic evidence management system is a need of time
as it is an environment friendly model.</p>

<p align="justify"><font size="3" color="black" style="font-family: Comic Sans MS">Blockchains are
digitally distributed ledgers of transactions signed
cryptographically in chronological order that are sorted
into blocks and is completely open to anyone in the
blockchain network. Hyperledger Fabric is a consortium
blockchain framework created by the Linux foundation
and is mainly used for enterprise use. Based on the
concept of Hyperledger Fabric, present study aimed to
create a framework and further propose an algorithm to
implement Blockchain Technology to digitalize forensic
evidence management system and maintain Chain of
Custody.</p>
</body>
</html>
